{# app/Ressource/view/annonce/annonce.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/Annonces{% endblock %}

{% block titlehead %}
<h1>Annonces</h1> 
{% endblock %}

{% block body %}
<div>
<ul>
     
      <li>id: {{annonce.id}}</li>
      <li>nom: {{annonce.nom}}</td>
      <li>description: {{annonce.description}}</li>
      <li style="color:{{annonce.prix|prix}}">prix: {{annonce.prix}}</li>
      <li>mail : {{annonce.mail}}</li>
      <li>département : {{annonce.departement}}</li>
    
  
 </ul> 
</div>
 {% endblock %}